@font-face {
  font-family: 'Font';
  src: url('Font.eot');
  src: url('Font.eot?#iefix') format('embedded-opentype'),
       url('Font.svg#Font') format('svg'),
       url('Font.ttf') format('truetype'),
       url('Font.woff') format('woff'),
       url('Font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

